* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* --- HEADER--- */
.header {
  background-color: #333;
  color: #fff;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #ccc;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: #fff;
}

/* --- HERO SECTION --- */
.hero {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-texto {
  color: white;
}

.hero-texto h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* --- CONTEÚDO PRINCIPAL--- */
.principal-flex {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.conteudo {
  flex: 3;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.img-destaque {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.sidebar {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.sidebar ul {
  list-style: none;
  margin-top: 10px;
}

.sidebar li {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.sidebar a:hover {
  color: #007bff;
  padding-left: 5px;
}

/* --- CARDS  --- */
.cards-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  text-align: center;
}

/* --- RODAPÉ --- */
.footer {
  background: #333;
  color: white;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social i {
  margin-left: 15px;
  cursor: pointer;
  font-size: 1.2rem;
}